@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap') ;

 * {   
    font-family: "Manrope", sans-serif ;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


main{

    width: 100vw;

}

.section1{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
    
}

.image1{
    width: 700px ;
    height: 180px ;
    
}


.button1{

    font-size: 16px;
    width: 230px;
    height: 50px;
    padding: 2px;
    font-weight: 500;
    border-radius: 5px;
    border-color: blue;
    background-color: yellow;
    color: blue;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
    
}

.button1:hover{

    width: 240px;
    height: 55px;
    font-size: 17px;
    transition: 0.5s ease-in-out;

}

.image2{

    width: 480px;
    
}

.caixa1{

    width: 50%;
    text-align: justify;

}

.caixa2{

    position: fixed;
    z-index: -1;
    left: 0;
    
}

video{

    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    
    
}

.fundoLinear{

    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.9) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.9) 85%);
    position: fixed;
    top: 0;
}

p{
    color: white;
    font-size: 20px;
    margin-left: 2px;
    margin-top: 20px;
}

.paragrafo1{

    font-size: 23px;

}

.link img{

    width: 78px;
    position: fixed;
    right: 25px;
    bottom: 20px;

}

.opcoes{
    
    width: 60vw;
    display: flex;
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    word-spacing: 3px;

    
}



.opcoes img{

    width: 95px;
}

.link2{

    cursor: pointer;
    transition-duration: 0.7s;
    color: white;
    text-decoration: none;
}

.link2:hover{

    color: yellow;
    font-size: 27px;
    transition: 0.5s ease-in-out;
    


}

.form1{

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -369px;
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 5px;
    gap: 18px;
    z-index: 1;



}

.inputs-form{

    height: 50px;
    border-radius: 5px;
    padding-left: 5px;
    outline-color: red;
    border-color: gray;
    
}

textarea{

    height: 180px ;
    width: 330px ;
    padding-left: 5px;
    padding-top: 2px;
    border: 2px solid gray;
    border-radius: 5px;
    outline-color: red;
    border-color: gray;
    resize: none;
}


.button2{

    font-size: 16px;
    width: 280px;
    height: 50px;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
    border-color: blue;
    background-color: yellow;
    color: blue;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;

}

.mascara-form{

    visibility: hidden;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.6460959383753502) 50%, rgba(0,0,0,0.8) 70%);

}





@media screen and ( max-width: 1550px)  {
    
    .image2{

        width: 400px;


    }

    .opcoes{

        width: 100vw;

    }


}

@media screen and (max-width: 1410px){

    .image2{

        width: 350px;

    }



}

@media screen and (max-width:1281px) {
 
    .image1{

        width: 450px;

    }

    .paragrafo1{

        font-size: 18px;
    }

    p{

        font-size: 16px;

    }

}

@media screen and (max-width: 1036px) {
    
    .section1{
        
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-top: 110px;
        justify-content: none;
        
        
    }

    .image1{

        width: 100%;
        
    }

    p{

        

        width: 600px;
        transform: translateX(-18%);
    }

    .opcoes{

        font-size: 20px;
        width: 90%;
        gap: 10px;
        position: absolute;


    }

    .opcoes img{

        width: 60px;

    }

    .button1{

       display: block;  
       margin-left: auto;
       margin-right: auto;
       margin-top: 30px;
    
       
    }

    .image2{

        display: none;
    }
}


@media screen and (max-width:735px){

    .opcoes img {
        display: none;
    }

    .opcoes{

        flex-direction: column;
        padding: 0;
        font-size: 18px;
    }

    .image1{

        margin-top: 100px;
        

    }

    .paragrafo1{

        font-size: 16px;

    }

    p{

        width: 100%;
        transform: translateX(0);
        font-size: 14px;
        letter-spacing: 1;
        
        
    }

    .linksjuntos{

        width: 100%;
        text-align: center;
       
        border: 2px solid white;
        border-radius: 10px;

    }

    

}

@media screen and (max-width:600px){

    .linksjuntos{

        font-size: 15px;

    }
    
    
    .image1{

        height: 100px;


    }

    .paragrafo1{

        font-size: 12px;

    }

    p{

        font-size: 13px;

    }

    .button1{

        width: 80%;
        font-size: 13px;


    }

    .link img{

        width: 65px;
        right: 15px;
        bottom: 15px;

}

}